.tile {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  &--light {
    background-color: #f0d9b5;
  }

  &--dark {
    background-color: #b58863;
  }

  &--selected {
    &.tile--light {
      background-color: #aad15b;
    }

    &.tile--dark {
      background-color: #769656;
    }
  }

  &--last-move-from {
    &.tile--light {
      background-color: #cdd26a;
    }

    &.tile--dark {
      background-color: #aaa23a;
    }
  }

  &--last-move-to {
    &.tile--light {
      background-color: #f7ec5e;
    }

    &.tile--dark {
      background-color: #ccc145;
    }
  }

  &--check {
    &.tile--light {
      background-color: #f8696b;
    }

    &.tile--dark {
      background-color: #d33e40;
    }
  }

  &__notation {
    position: absolute;
    font-size: 10px;

    &--file {
      bottom: 2px;
      right: 2px;
    }

    &--rank {
      top: 2px;
      left: 2px;
    }

    .tile--light & {
      color: #b58863;
    }

    .tile--dark & {
      color: #f0d9b5;
    }
  }

  &__move-indicator {
    position: absolute;
    z-index: 1;

    &--move {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.15);

      .tile--dark & {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    &--capture {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 3px solid rgba(0, 0, 0, 0.3);

      .tile--dark & {
        border-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}